* {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: large;
}



header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;  
  background-color: #444444;
  color: lightgray;
  min-width: 1000px;
}

header img{
  height: 70px;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 660px
}

header li {
  margin: 30px;
}

section img {
  margin 30px;
}

section{
  margin:30px;
}

#firstSection{
  display:flex;
  justify-content: center;
}

#secondSection{
  display:flex;
  justify-content: center;
}

#secondSection img {
  margin: 15px;
  width: 300px;
  height: 375px;
}

#thirdSection {
  display: flex;
  flex-direction:row;
  justify-content: center;
}

#thirdSection div {
  display: flex;
  flex-direction: column;
  width: 420px;
  height:400px;
  margin-left: 60px;
  align-content: space-between;
}

p {
  color: #444444;
  text-justify: auto; 
  width: 420px;
  font-size: medium;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
}

::-webkit-scrollbar-thumb {
  background: #444444;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

button {
  height: 50px;
  width: 200px;
  background-color: black;
  color: lightgray;
}

footer {
  width: 100%;
  height: 150px;
  align-items: center; 
  background-color: #444444;
}

